.similar-job-container {
  height: 70vh;
  width: 30vw;
  background-color: #7e858e;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.similar-job-profile-container {
  display: flex;
  flex-direction: row;
}
.company-logo {
  height: 40px;
  width: 30px;
}
.job-title-container {
  display: flex;
  flex-direction: column;
}
.job-parameters {
  color: #ffffff;
}
.rating-container {
  display: flex;
}
.rating-star {
  color: #fbbf24;
  font-size: 20px;
}

.loc-details {
  display: flex;
  flex-direction: row;
}
.similar-job-item {
  display: inline-flexbox;
}
.email-icon {
  color: #ffffff;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
