.page-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #272727;
}
.job-details-container {
  height: 80%;
  width: 90vw;
  border-radius: 10px;
  background-color: #7e858e;
  padding: 10px;
}
.profile-container {
  display: flex;
  flex-direction: row;
}
.company-logo {
  height: 40px;
  width: 30px;
}
.job-title-container {
  display: flex;
  flex-direction: column;
}
.job-parameters {
  color: #ffffff;
}
.rating-container {
  display: flex;
}
.rating-star {
  color: #fbbf24;
  font-size: 20px;
}
.separator {
  color: #ffffff;
}
.sal-loc-container {
  display: flex;
  justify-content: space-between;
}
.loc-details {
  display: flex;
  flex-direction: row;
}
.description-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.skill-container {
  display: flex;
  flex-direction: row;
}
.skill-image {
  height: 30px;
  width: 30px;
}
.life-at-company-container {
  display: flex;
}
.life-at-company-img {
  height: 200px;
  width: 200px;
}
.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.failure-image {
  height: 300px;
  width: 300px;
}
.failure-text {
  color: #ffffff;
}
.retry-btn {
  height: 40px;
  width: 60px;
  border-radius: 5px;
  background-color: #6366f1;
  color: #ffffff;
}
.similar-job-list {
  list-style: none;
}
.skills-list {
  display: inline-block;
}
.description-text {
  color: #f8fafc;
}
.email-icon {
  color: #ffffff;
}
.rating-text {
  color: #ffffff;
}
